h1 {
    text-align: center;
    color: cornflowerblue;
  }

img {
    height: 250px;
    width: auto;
}

.blink {
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      color: red;
    }
  }

  .main {
    text-align: center;
  }

  .wrapper {
    min-height: 100vh;
    margin-bottom: -50px;
  }

  .footer {
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
  }

  .form-group, .btn {
    margin: 10px;
  }