h1 {
    text-align: center;
    color: cornflowerblue;
  }

.home-img {
    height: 250px;
    width: auto;
}

.error {
  height: 50%;
  width: auto;
}

.blink {
    animation: blinker 1s step-start infinite;
  }

.btn-primary {
  margin: 15px
}
  
  @keyframes blinker {
    50% {
      color: red;
    }
  }

  body {
    text-align: center;
  }

  .main {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    background-color: darkgray;
  }

  .wrapper {
    min-height: 93vh;
    margin-bottom: -50px;
  }

  .footer {
    height: 50px;
    width: 100%;
    text-align: center;
  }

  .form-group, .btn {
    margin: 10px;
  }

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

.row {
  margin: 10px;
  text-align: center;
}
