h1 {
    text-align: center;
    color: cornflowerblue;
    margin: 15px;
  }

h2 {
  color: rgb(3, 206, 206);
  margin: 15px;
}

h3 {
  margin: 15px;
}


.home-img {
    height: 350px;
    width: auto;
}

.error {
  height: 50%;
  width: auto;
}

.blink {
    animation: blinker 1s step-start infinite;
  }

.btn-primary {
  margin: 15px
}
  
  @keyframes blinker {
    50% {
      color: red;
    }
  }

  body {
    text-align: center;
    background-color: aqua;
  }

  main {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: darkgray;
  }

  .wrapper {
    min-height: 93vh;
    margin-bottom: -50px;
  }

  .footer {
    height: 50px;
    width: 100%;
    text-align: center;
  }

nav {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

form {
  display: inline;
  margin: 5px;
}


